:root {
    --background-color: #111;
    --primary-color: #660000;
    --hover-color: #ff4444;
    --text-color: #ccc;
    --container-bg: rgba(20, 20, 20, 0.9);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: url("cursor/Normal.cur"), auto;
}

body {
    background-color: var(--background-color);
    animation: flicker 6s infinite;
    color: var(--text-color);
    font-family: 'Merriweather', serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        background-color: var(--background-color);
    }

    20%,
    24%,
    55% {
        background-color: #000;
    }
}

/* Pantalla de bienvenida */
.welcome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.welcome button {
    background: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 14px 28px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.1s ease, color 0.1s ease;
}

.welcome button:hover {
    background: var(--primary-color);
    color: #fff;
    transition: background 0.3s ease, color 0.3s ease;
}

.welcome::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 20%, transparent 70%);
    animation: shadowsMove 20s infinite linear;
    z-index: -1;
}

.dust {
    position: fixed;
    bottom: -10px;
    /* salen un poquito más abajo */
    width: 4px;
    height: 4px;
    background: #ccc;
    opacity: 0.3;
    border-radius: 50%;
    animation: floatDust linear infinite;
}

@keyframes floatDust {
    0% {
        transform: translateY(0) scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: translateY(-110vh) scale(1.2);
        /* se van hasta arriba y un poco más */
        opacity: 0;
        /* desaparecen */
    }
}

.typewriter {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    color: var(--primary-color);
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--primary-color);
    animation: blinkCursor 0.7s steps(1) infinite;
    display: inline-block;
}

@keyframes blinkCursor {
    50% {
        border-color: transparent;
    }
}

.glitch-char {
    display: inline-block;
    animation: glitchChar 0.2s infinite alternate;
}

@keyframes glitchChar {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    50% {
        transform: translate(-1px, 1px) rotate(-2deg);
        opacity: 0.8;
    }

    100% {
        transform: translate(1px, -1px) rotate(2deg);
        opacity: 0.6;
    }
}


/*names students and glitch*/
/* Contenedor absoluto para los nombres */
#names-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    /* que no molesten al usuario */
}

/* Estilo base de los nombres */
.name {
    position: absolute;
    font-size: 1.2rem;
    color: #5c5c5c;
    font-family: 'Courier New', monospace;
    opacity: 0;
    white-space: nowrap;
    animation: fadeInOut 4s linear forwards;
}

/* Animación glitch */
.name::before,
.name::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
}

.name::before {
    animation: glitchTop 0.5s infinite linear alternate-reverse;
    color: var(--primary-color);
    clip-path: inset(0 0 50% 0);
}

.name::after {
    animation: glitchBottom 0.5s infinite linear alternate-reverse;
    color: var(--hover-color);
    clip-path: inset(50% 0 0 0);
}

/* Aparición/desaparición */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    20% {
        opacity: 1;
        transform: scale(1);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

/* Glitch superior */
@keyframes glitchTop {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-2px, -2px);
    }

    40% {
        transform: translate(-5px, 2px);
    }

    60% {
        transform: translate(2px, -1px);
    }

    80% {
        transform: translate(-1px, 2px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Glitch inferior */
@keyframes glitchBottom {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(2px, 2px);
    }

    40% {
        transform: translate(5px, -2px);
    }

    60% {
        transform: translate(-2px, 1px);
    }

    80% {
        transform: translate(1px, -2px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/*finish names students and glitch*/

/* Contenedor */
.container {
    border: 1px solid var(--primary-color);
    padding: 25px;
    margin: 30px auto;
    width: 95%;
    max-width: 900px;
    background: var(--container-bg);
    box-sizing: border-box;
}

/* Links */
.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 25px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: url("cursor/Link.cur"), pointer;
}

a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

a.disabled {
    color: #6b6b6b;
    cursor: not-allowed;
    text-decoration: none;
}

h1,
h1 a {
    font-family: 'Cinzel', serif;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 2rem;
    /* tamaño base PC */
}

h1:hover {
    color: var(--hover-color);
    transition: color 0.3s ease;
}

p {
    font-size: 1rem;
    /* tamaño base PC */
    line-height: 1.5;
}

.exit-warning {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: var(--hover-color);
    background: var(--background-color);
    padding: 1em 2em;
    border: 2px solid var(--primary-color);
    text-shadow: 0 0 10px var(--hover-color), 0 0 20px var(--primary-color);
    z-index: 9999;
    animation: glitch-exit 0.15s infinite;
}

@keyframes glitch-exit {
    0% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    20% {
        transform: translate(-48%, -52%) skew(2deg);
    }

    40% {
        transform: translate(-52%, -48%) skew(-2deg);
    }

    60% {
        transform: translate(-50%, -50%) skew(1deg);
    }

    80% {
        transform: translate(-51%, -49%) skew(-1deg);
    }

    100% {
        transform: translate(-50%, -50%) skew(0deg);
    }
}

#countdown-box {
    border: 2px solid #800000;
    padding: 20px 40px;
    text-align: center;
    background: linear-gradient(145deg, #1a1a1a, #000000);
    box-shadow: 0 0 25px #5c0000;
}

#countdown-title {
    font-size: 1.6em;
    margin-bottom: 15px;
    color: #b30000;
    text-shadow: 0 0 8px #ff0000;
}

#countdown {
    font-size: 1.4em;
    letter-spacing: 2px;
    color: #fff;
    font-family: "Courier New", monospace;
    text-shadow: 0 0 5px #ff1a1a, 0 0 10px #660000;
}

.tasks-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.task {
    background: var(--container-bg);
    border: 1px solid var(--primary-color);
    padding: 1.5rem;
    color: var(--text-color);
    box-shadow: 0 0 15px rgba(102, 0, 0, 0.6);
    transition: transform 0.3s, box-shadow 0.3s;
}

.task:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px var(--hover-color);
}

.task h3 {
    font-family: "Cinzel", serif;
    color: var(--hover-color);
    margin-bottom: 0.5rem;
}

.task p {
    font-family: "Merriweather", serif;
    font-size: 0.95rem;
}


@media (max-width: 480px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
    }

    a {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.3rem;
    }

    a {
        font-size: 1.3rem;
    }
}

/* Pantallas grandes */
@media (min-width: 1024px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    a {
        font-size: 1rem;
    }
}